<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<!--<link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.7/css/layui.css">-->
<!--<script type="text/javascript" src="https://www.layuicdn.com/layui-v2.5.7/layui.js"></script>-->
<link rel="stylesheet" href="{{url_for('static', filename='layui/css/layui.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='layui/layui.js')}}"></script>
<style>
    html, body, .layui-container {
        /*width: 100%;*/
        height: 100%;
    }

    body {
        overflow: hidden;
    }

    .loading {
        width: 100%;
        height: 100%;
    }

    .loading img {
        margin: auto;
        position: absolute;
        top: 50%;
        /*right: 0;*/
        /*bottom: 0;*/
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
    }

    /*这里是页面正常显示部分，全部设为display:none*/
    .video_box {
        display: none;
    }

    textarea {
        font-size: large;
    }

</style>
<body>
<div class="loading">
    <!--这里放你的loading时显示的动画或者文字-->
    <img src="{{url_for('static',filename='imgs/loading.gif')}}" alt="">
</div>
<div class="layui-container video_box">
    <div class="layui-tab" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="1">百度新闻</li>
            <li lay-id="2">今日头条</li>
            <li lay-id="3">繁简转换</li>
            <li lay-id="4">邮编查询</li>
            <li lay-id="5">驾考题库</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <button id="fre" class="layui-btn">点击刷新</button>
                <div id="news-list"></div>
            </div>
            <div class="layui-tab-item">
                <button id="fre2" class="layui-btn">点击刷新</button>
                <div id="news-list2"></div>
            </div>
            <div class="layui-tab-item">
                <div id="trans">
                    <div>
                        <select name="option" id="option">
                            <option value="0">自动</option>
                            <option value="1">简->繁</option>
                            <option value="2">繁->简</option>
                        </select>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md5 layui-col-sm5 layui-col-xs5 layui-col-lg5">
                            <textarea name="first" id="first" cols="30" rows="10" class="layui-textarea"
                                      style="resize: none"></textarea>
                        </div>
                        <div class="layui-col-md2  layui-col-sm2 layui-col-xs2 layui-col-lg2">
                            <div style="margin-top: 50%; text-align: center">
                                <button class="layui-btn" id="query">查询</button>
                            </div>
                        </div>
                        <div class="layui-col-md5 layui-col-sm5 layui-col-xs5 layui-col-lg5">
                            <textarea readonly name="second" id="second" cols="30" rows="10" class="layui-textarea"
                                      style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div id="post">
                    <input type="text" class="layui-input">
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>省份</th>
                            <th>城市</th>
                            <th>区/县</th>
                            <th>邮编</th>
                            <th>区号</th>
                        </tr>
                        </thead>
                        <tbody id="post-content">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-tab-item">还没写</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
</html>